

body, html{
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    }

#container {
    min-height:100%;
    width: 100%;
   position:relative;
}

main {
    justify-content: center;
    height: 100%;
    display: flex;
    position: relative;
    padding-top: 100px;
    padding-bottom: 60px;
    min-height: 100%;
    width: 100%;

}

.search {
    justify-content: center;
    text-align: center;
    
}

input{
    width: 100%;
    position: relative;
    text-align: center;
    height: 30px;
    margin: 0 auto;
    
    
}

.search img {
    text-align: center;
    position: relative;
    height: 92px;
    width: 272px;
    margin: 40px;
    padding-top: 100px;
}

#search-box {
    width: 700px;
}
#header{
    width: 100%;
    height: 50px;
}

#header ul {
    float: right;
    width: auto;
    
     
}

#header li{
    display: inline;
    padding: 10px;
}

#center{
    display: block;
    text-align: -webkit-center;
}
.button{
    border-radius: 2px;
    width: 150px;
    padding: 0 16px;
    text-align: center;
    border: 1px solid #f2f2f2;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    height: 36px;
    color: #757575;
    margin-top: 30px;
    margin-bottom: 0px;

}

.button:hover{
    color: black;
}

.footer{
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 65px;
    right: 0;
    left: 0;
    padding: 1rem;
    padding: 0px;
    background-color:rgb(242, 242, 242);
    vertical-align: -webkit-baseline-middle;
    
}

.footer #left li{
    display: inline;
    width: 48px;
    padding: 10px;
    margin: 10px;
    float: left;
    position: relative;
    color: #757575;
    

}

.footer #right li{
    display: inline;
    width: 48px;
    padding: 10px;
    margin: 10px;
    float: right;
    color: #757575;
    position: relative;
}

.footer ul{
    margin-top: 0px;
}